/*
    This gets injected into the page on 'mapDidLoad' via event.js

    NOTE: External element z-index heights
     div.HUDBar: 1
     div.HackInterface div.MenuContainer: 100
     div.conversation: 1000
*/
#cloudinary-browser {
    z-index: 2000;
}

#cloudinary-browser.Conversation .frosty {
    background-color: black;
    opacity: 0.85;
}

#cloudinary-browser.Conversation .dialogue-box {
    flex-direction: column;
    position: absolute;
    top: 10px;
    left: 100px;
    right: 100px;
    bottom: 10px;
}

#cloudinary-browser.Conversation .dialogue-box .header {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    width: 100%;
    font-size: 28px;
    font-weight: bolder;
    background-color: #100558;
    color: lightgray;
    padding: 8px;
}

#cloudinary-browser.Conversation .dialogue-box .title {
    line-height: 42px;
    padding-top: 3px;
}

#cloudinary-browser .close-button {
    height: 42px;
    line-height: 42px;
    width: 32px;
    padding:0;
    border: 2px solid white;
    text-align: center;
}

#cloudinary-browser .close-button:hover {
    cursor: pointer;
}

#browser-content {
    margin:5px 20px 0;
    overflow: scroll;
    color: lightgray;
}