conversation(display_name="Mickey")
  case lastResponse 
    when "yes-i-will-help"
      statement#great
      responses
    when "no-i-wont-help"
      statement#please
      responses
        response#yes-i-will-help.
          Alright, I'll try!
        response#yes-i-will-help.
          Fine, I wanted high quality audio anyways.
    when "what-is-happening"
      statement#what-is-this
      responses
        response#yes-i-will-help.
          Yes! Quality time!
        response#no-i-wont-help.
          No, I'm not feeling it.
    default
      statement#default
      responses
        response#what-is-happening.
          How did you teleport over here?!
  
  statements
    statement#default
      text.
        Woah! Fancy seeing you here!
    statement#what-is-this
      text.
        I just finished having some quality time with my videos in the Media Library. 
        But I realized they don't have any audio! Do you think you can give me a hand with 
        adding some quality audio to our videos?
    statement#please 
      text.
        Oh, come on. Our Cloudinary APIs should make it easy to make this happen! 
        We just need the extra help. Would you please help us?
    statement#great
      text.
        Great! Let's go in to that office right away!
