conversation(display_name="Doggy1")
  case lastResponse
    when "arf_arf"
    when "woof"
    when "yip"
      statement#final.
        Woof!
      responses
        response#arf.
          Arf
        response#arf_arf.
          Arf Arf!
        response#woof.
          Woof!
        response#yip.
          Yip

    when "arf"
      statement#woof_woof.
        Woof! Woof!
      responses
        response#arf.
          Arf
        response#arf_arf.
          Arf Arf!
        response#woof.
          Woof
        response#yip.
          Yip
    default
      statement#default.
        Tilts head, arf?
      responses
        response#arf.
          Arf
        response#arf_arf.
          Arf Arf!
        response#woof.
          Woof
        response#yip.
          Yip

