conversation(display_name="Lindsey")
  case lastResponse
    when "speak_to_hagit"
      statement#great
    when "im_lost"
      statement#need_to_click
      responses
        response#speak_to_hagit.
          Thank you. I'll go speak with her now.
    when "yes"
      statement#final
      responses
        response#ok.
          I'll find Hagit in the ship's corridor now. Thanks!
    when "ok"
      statement#byefinal

      
    default
      statement#default
      responses
        response#im_lost.
          No. Where do I find Hagit?
        response#yes.
          Yes. I received my employee badge. Where do I go next?

  statements
    statement#default
      text.
        Oh hey! I'm Lindsey, the Cloudinary ship's office manager! I heard a lot about you! We have been needing a professional to help us 
        with working with videos!
        Have you spoke with Hagit yet to set up your employee badge?
      speech.
        Welcome aboard the #[break(strength="medium")] Cloudinary Ship!
    statement#need_to_click
      text.
        You can find Hagit to the office on the right, a few steps away from me!
    statement#final
      text.
        You will need to follow the while tiles to the middle of the room, and there you will find a door that will lead you to a corridor of all the employee offices.
        Speak with Hagit who will guide you within the corridor of offices.   
    statement#great 
      text.
        Be sure to come visit me if you get lost. I'll guide you to where you need to go.
    statement#byefinal
      text.
        Good luck!