conversation(display_name="Gary")
  statement#default
  statements
    statement#default
      text.
        You can interact with each of these computer terminals. There are 3 objectives within this office.
        Could you help with these? Thank you!