conversation(display_name="Lindsey")
  case lastResponse
    when "thank_you"
      statement#great
    when "confused"
      statement#final
      responses
    when "im_lost"
      statement#need_to_click
      responses
        response#thank_you.
          Thank you so much. I'll be on my way now!
        response#confused.
          What door?

    default
      statement#default
      responses
        response#im_lost.
          Hi Lindsey! Thanks for such a kind compliment. I just received my employee badge and not sure where I'm supposed to go next!

  statements
    statement#default
      text.
        Oh hey! I'm Lindsey, the Cloudinary ship's office manager! I heard a lot about you! I'm so grateful we have you! We have been needing a professional to help us 
        with manipulating and transforming videos! There's so much work to be done! 
      speech.
        Welcome aboard the #[break(strength="medium")] Cloudinary Ship!
    statement#need_to_click
      text.
        Well, you will need to go to the bottom right corner of the room, and there you will find a door that will lead you to a corridor of all the employee offices.
    statement#final
      text.
        You can walk right into that pathway and it will lead you straight into the room with all of the offices. Good luck! You'll be fine!     
    statement#great 
      text.
        Great! Enjoy your first day of work!