- var worldState = getState('com.cloudinary.cloudinary_video_adventures');
- var isObjectiveArrowVisible = worldState.isObjectiveArrowVisible;

conversation(display_name="Mickey")
  case lastResponse
    when "great"
      statement
        text.
          WOOHOO! I love how Cloudinary lets you set your videos to high quality. 
          Now let's make it happen right here using the Cloudinary APIs!
      responses
    when "i-need-more-help"
      statement
        text.
          Oh, I see you need some help with these quality missions. 
          I suggest using the <strong>Help</strong> tab in the objective modules 
          to access our in-depth Cloudinary documentation. 
          That should help you get the job done!
      responses
        response#great.
          Sounds like a quality plan!
    when "low_quality"
      statement 
        text.
          ... well that q_10 flower video is also HIGH QUALITY! It's all about the content, 
          not about the resolution. Now anyone on any connection can view our beautiful flower
          videos! Isn't that great quality time?
    default
      if isObjectiveArrowVisible
        statement#default
        responses 
          response#i-need-more-help.
            I need some help!
          response#great.
            Yeah! I'm high quality!
      else
        statement#done
        responses 
          response#low_quality.
            But what about that low quality flower?
  statements
    statement#done
      text.
        YEAHHHHH! Look at all of that quality! It's so high!
    statement#default
      text.
        Thanks for your help once again! 
        I can't wait to see this high quality work!
