conversation(display_name="Becky")
  case lastResponse 
    when "i-need-some-help"
      statement
        text.
          Oh! I suggest using the <strong>Help</strong> tab in the objective modules 
          to access our in-depth Cloudinary documentation. 
          That should help you get the job done! 
      responses
    default 
      statement#default
      responses
        response#i-need-some-help.
          I need some help!
  statements
    statement#default
      text.
        There are two tasks to do. Good luck!
        I must focus on working on the Cloudinary MXMatters Podcast now.