conversation(display_name="Amit")
  case lastResponse
    when "i-need-some-help"
      statement
        text.
          Oh! I suggest using the <strong>Help</strong> tab in the objective modules 
          to access our in-depth Cloudinary documentation. 
          That should help you get the job done! 
      responses
    when "cats-and-dogs"
      statement
        text.
          The answer is yes! See your video for itself! I think you see what I see.
    default
      if isObjectiveArrowVisible
        statement#default
        responses 
          response#i-need-some-help.
            I need some help!
      else
        statement#done
        responses
          response#cats-and-dogs.
            Is the dog a cat?
          response#cats-and-dogs.
            Is the cat a dog?       
  statements
    statement#done
      text.
        Very nice work! That's quite a collection of videos you got there. Makes me want to adopt a dog.
    statement#default
      text.
        Don't forget there are 4 objectives to complete in this office.
        You should be able to access it through the computer terminals next to me.
