conversation(display_name="Ryan")
  case lastResponse
    when "nice_to_meet"
    when "confused"
      statement#final
      responses

    //when "who_are_you"
    when "really_grateful"
      //statement#ryan
      statement#need_to_click
      responses
        //response#nice_to_meet.
        response#thank_you.
          Thank you so much. I'll go ahead and do that now!
        //response#you_seem_nice.
        response#confused.
          I'm not sure what you mean?

    default
      statement#default
      responses
        //response#who_are_you.
        response#really_grateful.
          I'm really grateful to get started! What should I do first?

  statements
    statement#default
      text.
        My name is Ryan. I work with Human Resources and I'm here to help you get set up as a new employee on this Cloudinary ship!
      speech.
        Welcome aboard the #[break(strength="medium")] Cloudinary Ship!
    //statement#ryan
    statement#need_to_click
      text.
        Well, you will need to click on the terminal to the right of me and get your Employee Badge set-up!
    statement#final
      text.
        We trust you can figure this out. The computer badge system is directly to the right of me. Interact with the computer by clicking the spacebar on your keyboard.        
        