conversation(display_name="Ryan")
  case lastResponse
    when "nice_to_meet"
    when "you_seem_nice"
      statement#final
      responses

    //when "who_are_you"
    when "really_grateful"
      //statement#ryan
      statement#need_to_click
      responses
        response#nice_to_meet.
          Nice to meet you!
        response#you_seem_nice.
          You seem nice!

    default
      statement#default
      responses
        //response#who_are_you.
        response#really_grateful.
          I'm really grateful to get started! What should I do first?

  statements
    statement#default
      text.
        My name is Ryan. I work with Human Resources and I'm here to help you get set up as a new employee on this ship!
      speech.
        Welcome aboard the #[break(strength="medium")] Fog Owl!
    //statement#ryan
    statement#need_to_click
      text.
        Well, you will need to click on the terminal to the right of me and get your Employee Badge set-up!
    statement#final
      text.
        Thank you!
        
        