- var worldState = getState('com.cloudinary.cloudinary');
- var levelSelected = worldState.levelSelected;
- var level = worldState.level;
- const path = require('path');

conversation(display_name="Cedric")
  case lastResponse
    when "level1"
      - levelSelected = true;
      - level = "cloudinary_video"
      if (require(path.resolve(context.extensions.directory,'TQ-Extension-Cloudinary-Video/levels/cloudinary_video/level.json')))
        statement
          text.
            Alright! Let's take you on a video adventure on the Cloudinary ship!
      else
        statement
          text.
            Rip
    default
      statement#default
      responses
        response#level1.
          Cloudinary Video Adventures

  statements
    statement#default
      text.
        Please select a #[span.highlight Cloudinary level] below, or click "end conversation" to go back to the Fog Owl.
      speech.
        Please select a #[break(strength="medium")] Cloudinary level!

- worldState.levelSelected = levelSelected;
- worldState.level = level;
- setState('com.cloudinary.cloudinary', worldState);